[save_variables]
filename: /home/lava/printer_data/config/extended/ace_vars.cfg

[ace]

baud: 115200
# Default feeding speed, 10-25 in stock
feed_speed: 80
# Default retraction speed, 10-25 in stock
retract_speed: 80
# Distance from extruder sensor to spliter
retract_length: 1950 # TUNE ME

#Distance for the filament to reach the toolhead (ACE has its own loading procedure, and this length does not affect it).
#You need to select a value so that after the ACE loading procedure, the filament is 5-6 cm away from the toolhead
feed_length: 1500 # TUNE ME
load_length: 1500

load_retry: 1
load_retry_retract: 50



# Optional: Per-Toolhead Overrides
# feed_length_0: 1750
# feed_length_1: 1800
# feed_length_2: 1700
# feed_length_3: 1750

# load_length_0: 1750
# load_length_1: 1800
# load_length_2: 1700
# load_length_3: 1750




# Max dryer temperature. If you want to fry your dryer, then you can! (Just joking, should be safe around ~70, but it's not tested yet)
max_dryer_temperature: 70

[gcode_macro ACE_drying_on]
gcode:
  ACE_START_DRYING TEMP=55 DURATION=240

[gcode_macro ACE_drying_off]
gcode:
  ACE_STOP_DRYING


[gcode_macro ACE_Load__1]
gcode:
  ACE_SWITCH TARGET=1 AUTOLOAD=1


[gcode_macro ACE_Load_2]
gcode:
  ACE_SWITCH TARGET=2 AUTOLOAD=1


[gcode_macro SYSTEM_REBOOT]
  [gcode_macro SYSTEM_REBOOT]
gcode:
    {action_call_remote_method("reboot_machine")}



